* {
    Box-sizing: border-box;
}

html,body {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    margin-bottom: 20px;
}

header, footer {
    background-color: #24292f; 
    color: #fafafa;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
}

.container {
    max-width: 1000px;
    margin: auto;
}
.flex {
    display: flex;
    align-items: center;
}

.alert-symbol {
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 0;
    
  }

.align-items {
    align-items: center;
}

.icon {
    font-size: 20px;
    margin-right:10px;
}

.github-icon {
    font-size: 27px;
    margin-right: 5px;
    
}

.box {
    height: 200px;
    width: 100%;
    background-color: green;
    margin-bottom: 20px;
    border: 1px solid black;
    font-size: 50px;
}

.position-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
    left: 200px;
}

footer {
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat {
    position: fixed;
    bottom: 80px;
    right: 30px;
    background-color: red;
    border-radius: 100%;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin {
    margin-right: 5px;
}